<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <security>
        <requestFiltering allowDoubleEscaping="True" />
      </security>
      <rewrite>
            <rules>
                <clear />
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
				<rule name="Financial Aid" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="financial-aid*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/adm/index.php" />
                </rule>
				<rule name="PreCollege" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="precollege*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/adm/index.php" />
                </rule>
				<rule name="Student Employment" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="student-employment*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/adm/index.php" />
                </rule>
                <rule name="Ignore Process Shibboleth (Wordpress)" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*Shibboleth.sso/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="wordpress" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="WordPress Media" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
                <rule name="Bruteforce protection" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*wp-login.php*" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="*wp-login.php*" negate="true" />
                        <add input="{REQUEST_METHOD}" pattern="POST" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
	         </rules>
            <outboundRules>
				<remove name="HttpOnly" />
                <rule name="HttpOnly" preCondition="No HttpOnly" enabled="false">
                    <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" />
                    <conditions />
                    <action type="Rewrite" value="{R:0};Secure;HttpOnly" />
                </rule>
				<rule name="Remove Server header">
				  <match serverVariable="RESPONSE_Server" pattern=".+" />
				  <action type="Rewrite" value="" />
				</rule>
            </outboundRules>
            <rewriteMaps>
                <rewriteMap name="Site Redirect">
                    <add key="/admissions/parents/kit/" value="/parentkit" />
                </rewriteMap>
            </rewriteMaps>                        
        </rewrite>
      <staticContent>
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
	     <handlers>
            <add name="php via fastcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-Xss-Protection" value="1;mode=block" />
				<add name="Access-Control-Allow-Origin" value="https://enrollment.rochester.edu" />
			</customHeaders>
		</httpProtocol>
		<caching enabled="false" enableKernelCache="false" />
    </system.webServer>
    <system.web>
        <sessionState mode="InProc" />
		<customErrors mode="Off" />
    </system.web>
    <connectionStrings>
        <add connectionString="Server=its-admsql-wp1;Database=cms;User ID=web;Password=*melioraAmara#" name="conn_cms" />
		<add connectionString="Server=its-admsql-wp1;Database=internal;User ID=web;Password=*melioraAmara#" name="conn_internal" />
    </connectionStrings>
</configuration>
